html, main {
  background-color: #ffb566;
  width: 99%;
  position: relative;
}
#textBox {
  text-align: center;
  font-size: 220%;
  font-family: Lato;
  color: #000000;
  font-style: italic;
  position: absolute;
  top: 3vw;
}
#buttonBox {
  position: absolute;
  top: 20vw;
  right: 0;
  width: 30%;
}
#nextQuote {
  background-color: #000000;
  border-color: #000000;
}
#nextQuote:hover {
  opacity: 0.8;
  }